$blue: #3bbfce;
$margin: 25px;
$padding: 15px;

.content-navigation {
  border-color: $blue;
  color: darken($blue, 9%);
}
/*
.border {
  padding: $margin / 2;
  margin: $margin / 2;
  border-color: $blue;
}
*/

h1 {font-family: Tahoma;}
div.border {border: 2px solid blue; display: inline-block; margin: $margin; padding: $padding; width: 250px;}